.board {
    margin: auto;
    width: 1080px;
}

.board > div {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(6, 1fr);
}

.categorytile {
    margin-bottom: 8px;
    padding: 8px;
    background-color: blue;
}

.questiontile {
    cursor: pointer;
    margin-bottom: 8px;
    padding: 8px;
    background-color: blue;
}

.questiontile:last-child {
    margin-bottom: 0;
}